<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
</head>
<body>
	商品名：<input type="text" id="goods_name" /><br/>
	价格：<input type="number" id="price" /><br/>
	图片：<input type="file" id="img" /><br/>
	<button type="button" onclick="upload()">上传</button>
</body>
<script type="text/javascript">
	function upload() {
		var form = new FormData(); // FormData是H5新特性
		form.append("goods_name", document.getElementById("goods_name").value);
		form.append("price", document.getElementById("price").value);
		form.append("img", document.getElementById("img").files[0]);

		var xhr = new XMLHttpRequest();
		xhr.open("POST", "/api/goods_upload");
		xhr.onreadystatechange = function(res){
			if (xhr.readyState==4 && xhr.status==200) {
				console.log(xhr.responseText);
				var res = JSON.parse(xhr.responseText);
				alert(res.message);
			}
		}
		xhr.send(form);
	}
</script>
</html>