<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>
	<h1><%= title %></h1>
	用户名：<input type="text" id="username" /><br/>
	密码：<input type="password" id="psw" /><br/>
	<button onclick="login()">登录</button>
</body>
<script type="text/javascript">
	function login() {
		$.ajax({
			url: "/api/login4ajax",
			type: "post",
			data: {
				username: $("#username").val(),
				psw: $("#psw").val()
			},
			success: function(res) {
				console.log(res);
				if(res.code == 1) {
					alert(res.message);
					// location.href = "/dashboard?r=" + new Date().getTime();
				} else {
					alert(res.message);
				}
			}
		})
	}
</script>
</html>