<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>
	<h1><%= title %></h1>
	用户名：<input type="text" id="username" /><br/>
	密码：<input type="password" id="psw" /><br/>
	年龄：<input type="text" id="age" /><br/>
	<button onclick="regist()">注册</button>
</body>
<script type="text/javascript">
	function regist() {
		$.ajax({
			url: "/api/regist4ajax",
			type: "post",
			data: {
				username: $("#username").val(),
				psw: $("#psw").val(),
				age: $("#age").val()
			},
			success: function(res) {
				console.log(res);
				if(res.code == 1) {
					location.href = "/login";
				} else {
					alert(res.message);
				}
			}
		})
	}
</script>
</html>