@charset "utf-8";
/* CSS Document */
body,h1,h3,h2,h4,h5,h6,p,dl,dd,ul,ol,form,input,fieldset,th,td,iframe{margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,strong,b{font-weight:normal;}
i,em{font-style:normal;}
a{text-decoration:none; color:#666;}
li{list-style:none;}
img{border:none;vertical-align:top;}
input{vertical-align:middle; border:none}
button{border:none}
a,input,area{outline:none;}
body{font-size:12px; font-family:"微软雅黑";}

.fl{float:left;}
.fr{float:right;}
.clearfix:after{content:"."; display:block; clear:both; height:0; visibility:hidden;}
table{border-collapse:collapse;}
.border0,.noborder{border:none;}
.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
     white-space: nowrap;
}
.margin_right {
	margin-right:0 !important;	
}
.border_right{
	border-right:none !important;
	
}
.wrap_1200 {
    width: 1200px;
    margin: 0 auto;
}
.top-occupy:before{
	  content:"" ; display:table;
	
}

