
@font-face {font-family: "iconfont";
  src: 
  
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.woff') format('woff'); 
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jipiao:before { content: "\e60c"; }

.icon-jizhang:before { content: "\e60f"; }

.icon-sousuo:before { content: "\e62f"; }

.icon-tianjia:before { content: "\e635"; }

.icon-yiban:before { content: "\e63e"; }

.icon-fuwuchuangb:before { content: "\e665"; }

.icon-shape:before { content: "\e601"; }

.icon-yuebao:before { content: "\eb74"; }

.icon-fukuanma:before { content: "\e67c"; }

.icon-hongbao:before { content: "\e656"; }

.icon-tongxunlu:before { content: "\e644"; }

.icon-iconfonticonfontzhifubao:before { content: "\e646"; }

.icon-shoujichongzhi:before { content: "\e62e"; }

.icon-xinyongqiahuankuan:before { content: "\e634"; }

.icon-mayijubao:before { content: "\e61e"; }

.icon-taopiaopiao:before { content: "\e606"; }

.icon-pengyou:before { content: "\e660"; }

.icon-zhuanzhang:before { content: "\e60a"; }

.icon-zhimaxinyong:before { content: "\e61f"; }

.icon-scan:before { content: "\e8e8"; }

.icon-tianmao:before { content: "\e602"; }

.icon-koubei:before { content: "\e673"; }

.icon-shenghuojiaofei:before { content: "\e650"; }

.icon-qiaquanguanli:before { content: "\e61a"; }

.icon-waimai:before { content: "\e630"; }

.icon-didichuhang:before { content: "\e878"; }

.icon-zhimaxinyong1:before { content: "\e60b"; }

.icon-tianmaochaoshi:before { content: "\e645"; }

